@font-face{
    font-family: 'sunny_sundayregular';
    src: url('/fonts/sunny_sunday-webfont.woff') format('woff'),
         url('/fonts/sunny_sunday-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.navigate{
    background-color: #AAC4FF;
}


nav{
    line-height: 3;
    background-color: #aac4ff;
    border:#D2DAFF solid;
    height: 3em;
    width: auto;
    border-radius: 60px;
    border-width: 5px;
}

nav p{
    position: absolute;
    left: 500px;
    text-size-adjust: 10px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    transition: 0.6s;
}

nav p:hover{
    transform: scale(1.1);
}

nav li{
    color: #e0e6ff;
    margin-left: 3rem;
    position: relative;
    left: 20rem;
    display: inline-block;
    bottom: 16px;
    transition: all 0.6s;
}

nav li:hover{
    transform: scale(1.1);
    
}

nav a{
    transition: 0.6s;
}

nav a:hover{
    color: rgb(255, 255, 255);
}

nav img{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 440px;
    margin: 0;
    margin-top: 3px;
    transition: 1s;
}

nav img:hover{
    transform: scale(1.1);
}

body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #B1B2FF;
    color: #253d61;
}

span{
    text-decoration: underline;
}

h1{
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 6.5rem;
    margin: 50px auto 0 auto;
    color: #EEF1FF;
    line-height: 3;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #EEF1FF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #B1B2FF;
    transition: all 1s;
}

hr{
    height: 50px;

        width: 10%;

        border-style: dotted none none;

        border-color: #364b74;

        border-width: 20px;

        margin: 4% auto 2% auto;
}

.topc {
    background-color: #AAC4FF;
    position: relative;
    padding-top: 100px;
}

.mountain{
    position: relative;
    margin: 0 auto;
    border-bottom: #B1B2FF 10px solid;
    border-radius: 40%;
    transition: all 1s;
}

.mountain:hover{
    transform: translateY(10px);
    border-radius: 25%;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
    width: 8%;
    transition: 1s;
}

.cloudshover:hover .top-cloud{
    transform: translatex(20px);
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
    width: 8%;
    transition: 1s;
}

.cloudshover:hover .bottom-cloud{
    transform: translatex(-20px) ;
}

.grd{
    height: 200px;
    background-image: linear-gradient(#AAC4FF,#B1B2FF);
}

.profile .me{
    transition: 1s;
}

.profile:hover .me{
    transform: scale(1.1);
}

.midc{
    background-color: #B1B2FF;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='1800' preserveAspectRatio='none' viewBox='0 0 2000 1800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1038%26quot%3b)' fill='none'%3e%3crect width='2000' height='1800' x='0' y='0' fill='url(%23SvgjsLinearGradient1039)'%3e%3c/rect%3e%3cpath d='M2100.0000000000005 1800L0 1800 L0 1441.03Q86.32 1360.68%2c 166.66666666666669 1447Q263.03 1443.37%2c 266.6666666666667 1539.73Q333.07 1439.46%2c 433.33333333333337 1505.86Q464.6 1437.13%2c 533.3333333333334 1468.39Q624 1392.39%2c 700 1483.06Q819.38 1435.78%2c 866.6666666666667 1555.16Q943.81 1465.63%2c 1033.3333333333335 1542.77Q1075.95 1485.39%2c 1133.3333333333335 1528.01Q1232.87 1460.88%2c 1300.0000000000002 1560.41Q1312.69 1473.1%2c 1400.0000000000002 1485.78Q1438.65 1424.42%2c 1500.0000000000002 1463.07Q1573.08 1369.49%2c 1666.666666666667 1442.57Q1797.11 1406.35%2c 1833.3333333333337 1536.79Q1895.77 1499.23%2c 1933.3333333333337 1561.67Q1981.23 1442.9%2c 2100.0000000000005 1490.79z' fill='rgba(177%2c 178%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M2066.666666666667 1800L0 1800 L0 1565.68Q92.96 1491.98%2c 166.66666666666669 1584.94Q231.83 1483.44%2c 333.33333333333337 1548.6Q412.82 1528.09%2c 433.33333333333337 1607.57Q524.26 1531.83%2c 600 1622.76Q666.3 1522.39%2c 766.6666666666667 1588.69Q788.63 1510.65%2c 866.6666666666667 1532.62Q973 1472.29%2c 1033.3333333333335 1578.62Q1137.23 1515.85%2c 1200.0000000000002 1619.74Q1250.01 1503.09%2c 1366.666666666667 1553.1Q1434.91 1521.34%2c 1466.666666666667 1589.58Q1570.53 1526.77%2c 1633.3333333333337 1630.63Q1641.39 1538.69%2c 1733.3333333333337 1546.75Q1822.8 1469.55%2c 1900.0000000000005 1559.02Q2024.45 1516.81%2c 2066.666666666667 1641.26z' fill='rgba(170%2c 196%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M2066.666666666667 1800L0 1800 L0 1630.33Q96.58 1626.9%2c 100 1723.48Q120.22 1643.7%2c 200 1663.93Q262.7 1559.97%2c 366.6666666666667 1622.67Q427.7 1583.7%2c 466.6666666666667 1644.74Q573.33 1584.73%2c 633.3333333333334 1691.39Q684.01 1575.4%2c 800 1626.08Q862.44 1588.52%2c 900 1650.96Q1021.24 1605.53%2c 1066.6666666666667 1726.77Q1122.41 1682.51%2c 1166.6666666666667 1738.25Q1221.92 1626.84%2c 1333.3333333333335 1682.1Q1366.74 1615.51%2c 1433.3333333333335 1648.92Q1507 1622.59%2c 1533.3333333333335 1696.25Q1575.79 1638.71%2c 1633.3333333333335 1681.17Q1700.85 1582.02%2c 1800.0000000000002 1649.53Q1923.74 1606.6%2c 1966.666666666667 1730.34Q1982.87 1646.54%2c 2066.666666666667 1662.74z' fill='rgba(210%2c 218%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M2066.666666666667 1800L0 1800 L0 1762.82Q84.87 1681.03%2c 166.66666666666669 1765.9Q222.28 1721.52%2c 266.6666666666667 1777.13Q336.07 1679.86%2c 433.33333333333337 1749.26Q512.17 1728.1%2c 533.3333333333334 1806.93Q598.47 1705.4%2c 700 1770.54Q806.97 1710.84%2c 866.6666666666667 1817.81Q903.9 1688.38%2c 1033.3333333333335 1725.61Q1096.2 1688.48%2c 1133.3333333333335 1751.35Q1198.73 1650.08%2c 1300.0000000000002 1715.47Q1385.98 1701.45%2c 1400.0000000000002 1787.43Q1440.52 1727.95%2c 1500.0000000000002 1768.47Q1615.67 1717.48%2c 1666.666666666667 1833.15Q1705.83 1772.31%2c 1766.666666666667 1811.47Q1766.17 1710.97%2c 1866.666666666667 1710.48Q1950.42 1694.24%2c 1966.666666666667 1777.99Q2042.85 1754.17%2c 2066.666666666667 1830.36z' fill='rgba(238%2c 241%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1038'%3e%3crect width='2000' height='1800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1039'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(177%2c 178%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}
.midc img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.skill-row .gaming{
    height: 10.2rem;
    float: left;
    margin-right: 30px;
}

.coding{
    float: right;
    margin-left: 30px;
}

.skill-row{
    width: 50%;
    position: relative;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    border: solid #b1b2ff;
    border-radius: 50px;
    padding: 15px;
    background-color: #eff0f5;
    border-width: 12px;
    transition: all 1s;
}

.skill-row:hover h3{
    transform: translateX(16px);
}

.btn1{
    position: relative;
    color:#738ec4;
    margin: 20px auto 20px auto;
    background-color: #101f41;
    border-radius: 30px;
    padding: 10px;
    transition: all 0.5s;
}

.btn1:hover{
    color:#e0e6ff;
    transform: scale(1.1);
}

.btn1hv{
    transition: 0.5s;
}

.btn1hv:hover{
    transform: scale(1.1);
    color:#e0e6ff;
}

.if{
    color: #eff0f5;
    margin-top: 35px;
    text-size-adjust: 15px;
    font-weight: bold;
}

.botc{
    background-color: #253d6138;
    margin-top: 30px;
}

.marginunder{
    margin-bottom: 30px;
}

.footer-link{
    color: #364b74;
    line-height: 2;
    margin-left: 35px;
}

.footer-link:hover{
    color: rgba(28, 37, 51, 0.631)
}

a{
    color: #D2DAFF;
    text-decoration: none;
}

.getin{
    color: #eff0f5;
}

.pmargin{
    margin-bottom: 0px;
}

.ghic{
    display: inline-block;
    transition: all 0.8s;
    height: 40px;
    width: auto;
}

#github:hover .ghic{
    color: white;
    transform: scale(1.2) translateX(5px);
}

.fbic{
    display: inline-block;
    transition: all 0.8s;
}

#facebook:hover .fbic{
    transform: scale(1.2) translateX(5px);
    color: rgb(42, 42, 255);
}

.igic{
    display: inline-block;
    transition: all 0.8s;
    height: 40px;
    width: auto;
}

#instagram{
    transition: all 0.8s;
}

#instagram:hover .igic{ 
    transform: scale(1.2) translateX(5px) translateY(1px);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    
}